<%= render "navbar" %>
<%= form_for :change_details, url: {action: "edit_profile"}, method: :post, html: {class:"centered-form" } do |f| %>
<h3> Change Details </h3>

<div class="form-group">  
    <label>Name</label>
     <%= f.text_field :name, :class => "form-control" %>

    <label class="help-inline" for="inputError">
        <% if flash.key?(:error) and flash[:error].key?("name") %>
        name <%= flash[:error]["name"][0] %>
        <% end %>
    </label>
</div>

<div class="form-group">  
    <label>Email</label>
    <%= f.email_field :email, :class => "form-control" %>


    <label class="help-inline" for="inputError">
        <% if flash.key?(:error) and flash[:error].key?("email") %>
        email <%= flash[:error]["email"][0] %>
        <% end %>
    </label>
</div>  

<div class="form-group">  
    <label>Username</label>
    <%= f.text_field :username, :class => "form-control"%>
    
    <label class="help-inline" for="inputError">
        <% if flash.key?(:error) and flash[:error].key?("username") %>
        username <%= flash[:error]["username"][0] %>
        <% end %>
    </label>
</div>

<div class="form-group">  
    <label>Password (Minimum 6 characters)</label>
      <%= f.password_field :password, :class => "form-control"%>

    <label class="help-inline" for="inputError">
        <% if flash.key?(:error) and flash[:error].key?("password") %>
        password <%= flash[:error]["password"][0] %>
        <% end %>
    </label>
</div>

<div class="form-group">  
    <label>Retype Password</label>
        <%= f.password_field :password_conformation, :class => "form-control"%>

    <label class="help-inline" for="inputError">
        <% if flash.key?(:error) and flash[:error].key?("retype_password") %>
        retype_password <%= flash[:error]["retype_password"][0] %>
        <% end %>
    </label>

</div>
<%= f.submit "Edit Profile", :class => "btn, btn-primary" %>

<% end %>


<%= form_for :delete_account, 
    url: {action: "delete_account"},
    method: :delete,
    html: {class:"centered-form", style: "margin-top: 30px"} do |f| %>
<div class="form-group">  

<%= f.submit "Delete Account ", :class => "btn, btn-danger" %>
</div>
<% end %>